# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 